page-access-componemt{
    ion-item {
        &.error{
            color: red;
        }
        &.success{
            color:green;
        }
    }
    
    .alert-danger{
        color: red;
    }
    
}